# Cấu hình thiết bị chạy model: "cuda", "cpu", hoặc "auto"
DEVICE=auto

# Cấu hình Batch Size cho GPU A100. Nếu là GPU T4 cứ để None hết tất cả tham số để tránh OOM
PAGE_BATCH_SIZE=32
LAYOUT_BATCH_SIZE=32
DETECTION_BATCH_SIZE=32
OCR_BATCH_SIZE=512
TABLE_BATCH_SIZE=512

# Cấu hình cho OCR (Lưu ý: text threshold > blank threshold)
DETECTOR_BLANK_THRESHOLD=0.5
DETECTOR_TEXT_THRESHOLD=0.6