# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
*.whl

# Virtual environments
.venv/
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/

# Logs & temp
*.log
*.tmp
./claude CLAUDE.md
.claude/
CLAUDE.md
claude
.DS_Store

# File
output.json
math.json
*.pdf
SURYAOCR_README.md
test.py

# Bỏ qua tất cả mọi thứ bên trong thư mục model_path
pdf2zh/scanned/model_path/*
